# eclipse
.buildpath
.project
.settings/

# PHP prj
build/artifacts/
build/coverage/
build/logs/
cache.properties

# composer
vendor/
composer.lock

# travis
travis/

# bin
composer.phar
php-cs-fixer.phar

.coveralls.yml
